#users {
	margin: 20px;
	height: 400px; 
	background-color: white;
	border: 1px black solid;
	overflow: scroll;
	overflow-x: hidden;
}
.log {
	margin: 20px;
	height: 400px; 
	background-color: white;
	border: 1px black solid;
	overflow: scroll;
	overflow-x: hidden;
}
.dashtable td{
    text-align: center;
    vertical-align: middle;	
}